<html>
<head>
    <link rel="stylesheet" href="css/master.css">
</head>
<body>
    <h1>This is header 1</h1>
    <h2>This is header 2</h2>
    <h3>This is header 3</h3>
    <h4>This is header 4</h4>
    <h5>This is header 5</h5>
    <h6>This is header 6</h6>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, placeat! Consectetur ducimus laborum facere minima blanditiis, repudiandae illum modi, eaque ipsa itaque sunt aliquam debitis? Dolorem rem sed corporis mollitia.</p>
    <br>
    <a href="#" class="linkbtn">This is a link button</a>
    <Button class="linkbtn"> This is a Submit Button</Button>
    <br><br>
    <input type="text" placeholder="This is an input field" class="iField">


</body>

</html>