* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Newyork';
  src: url(../src/NewYork.otf);
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../src/Gilroy.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../src/OpenSans.ttf);
  font-style: normal;
}

h1, h2 {
  color: #967762;
  font-family: Newyork;
}

h3, h4, h5, h6 {
  color: #000000;
  font-family: Gilroy;
}

p {
  font-family: Open Sans;
}

a {
  text-decoration: none;
}

.linkbtn {
  font-family: Gilroy;
  color: white;
  font-size: 12pt;
  text-decoration: none;
  background-color: #000000;
  padding: 15px 30px 15px 30px;
  border-radius: 100px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border: none;
}

.linkbtn:hover {
  background-color: #967762;
  color: #000000;
}

.iField {
  width: 70%;
  padding: 15px 30px 15px 30px;
  border-radius: 50px;
  font-family: Gilroy;
  background-color: #E6E6E6;
  border: none;
}

.iField:focus {
  outline: none;
}

.bod {
  border: 1px solid red;
}

.sidebar {
  width: 400px;
  height: 100vh;
  background-color: #000000;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 50px;
  margin-left: 0px;
  z-index: 999;
  position: fixed;
  visibility: hidden;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.sidebar ul {
  list-style: none;
  left: inherit;
}

.sidebar ul div {
  vertical-align: middle;
}

.sidebar hr {
  background-color: white;
}

.sidebar a {
  text-decoration: none;
}

.sidebar h2 {
  top: 50%;
  color: white;
  font-family: Newyork;
  display: inline-block;
}

.sidebar img {
  top: 50%;
  vertical-align: middle;
}

.topbar {
  display: block;
  padding-top: 20px;
  height: 70px;
  text-align: center;
  z-index: 500;
}

.pholder {
  padding-left: 10%;
  padding-right: 10%;
}

.pholder h1 {
  padding-left: 30px;
}

.pholder .pgallery {
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pholder .pgallery img {
  border-radius: 20px;
  border: 1px solid #E6E6E6;
}

.pholder .pgallery li {
  display: inline-block;
}

.viz {
  visibility: visible;
}

.footer {
  background-color: #000000;
  color: white;
  height: auto;
  vertical-align: middle;
  text-decoration: none;
}

.footer div {
  display: inline-block;
  vertical-align: middle;
  padding-top: 50px;
  padding-left: 5%;
  color: #ffffff;
}

.footer div h4 {
  color: white;
}

.footer div a {
  color: white;
}

.footer img {
  max-width: 250px;
}

.pRow {
  list-style: none;
  text-align: center;
}

.pRow li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.space {
  width: 10px;
}

.pimgmain {
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  float: right;
}

.topbarbg {
  background-image: url(../img/top.jpg);
  background-repeat: repeat-x;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #967762;
  border-radius: 5px;
}

#search {
  border-radius: 50px 0px 0px 50px;
}

#searchbtn {
  border-radius: 0px 50px 50px 0px;
  padding: 13px;
}

@media only screen and (min-width: 992px) {
  #realtimebtn {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  #qrholder {
    display: none;
  }
  .pimgmain {
    float: none;
  }
}
/*# sourceMappingURL=master.css.map */